

{% extends 'plantilla.html'%}

{% block body %}

    <div class="container mt-5">

      <div class="row">

        <div class="col-12">

          <h2 class="display-4 text-primary mb-4">Vista de consulta</h2>

          <a href="/" class="btn btn-link mb-3">Regresar a Formulario</a>

          <table class="table table-bordered">

            <thead class="table-light">


              <tr>

                <th>ID</th>
                <th>Álbum</th>
                <th>Artista</th>
                <th>Año</th>
                <th colspan="2">Acciones</th>

              </tr>

            </thead>


            <tbody>

              <tr>
                <td>{{album.0}}</td>
                <td>{{album.1}}</td>
                <td>{{album.2}}</td>
                <td>{{album.3}}</td>
                <td><a href="/actualizar/{{album.0}}" class="btn btn-warning btn-sm">Actualizar</a></td>
                <td><a href="/eliminacion/{{album.0}}" class="btn btn-danger btn-sm">Eliminar</a></td>

              </tr>

            </tbody>
            
          </table>

          {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
              {% for msj in mensajes %}
                <div class="alert alert-info mt-4">{{ msj }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

        </div>

      </div>

    </div>

{% endblock %}
