<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>consulta</title>
</head>
<body>
    <h2>Vista de consulta</h2>
    <a href="/">Regresar a Formualario</a>

    <table>
        <thead>
            <tr>
                <td>ID:</td>
                <td>Album:</td>
                <td>Artista:</td>
                <td>Año:</td>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{album.0}}</td>
                <td>{{album.1}}</td>
                <td>{{album.2}}</td>
                <td>{{album.3}}</td>
                <td><a href="/actualizar/{{album.0}}">Actualizar</a></td>
                <td><a href="/eliminacion/{{album.0}}">Eliminar</a></td>
            </tr>
            
            
        </tbody>
    </table>


    <br>

    {%with mensajes =  get_flashed_messages()%}

        {% if mensajes%}

            {% for msj in mensajes%}
                <h4 style="color: blue">{{msj}}</h4>
            {%endfor%}
        {% endif %}
    {%endwith%}
</body>
</html>